
.Contenedor .Formulario .form-header .form-titulo{
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #070706;
    padding: 14px 0;
    text-align: center;
}

.Contenedor .Formulario .form-header .form-titulo span{
    color:#fff;
}

.Contenedor .Formulario{
    background: rgba(24, 98, 209, 0.979);
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.Contenedor .Formulario .form-label{
    display: block;
    color: #000000e1;
    font-family: sans-serif;
    position: relative;
}

.Contenedor .Formulario .form-input{
    background: rgba(245, 237, 237, 0.932);
    border: none;
    outline: none;
    width: 50%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: rgb(12, 1, 1);
}

.Contenedor .Formulario .boton{
    width: 100%;
    font-family: sans-serif;
    outline: none;
    background: #1b0baf;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}
.Contenedor .Formulario .boton:hover{
    background: #f21818;
}